:root {
    --color-primary: #222;
    --color-white: #F8F8F8;
    --color-link: #F8F8F8;
    --bg-primary: #2779a7;
    --bg-secondary: #F8F8F8;
    --border-content: #2779a7;
}

.dark {
    --color-primary: #F8F8F8;
    --bg-primary: #222;
    --bg-secondary: #222;
    --color-link: #49bdff;
    --bg-link: #222;
    --border-content: #49bdff;
    --title-midle-color: #5FE5FF;
}

body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'RobotoRegular', sans-serif;
}

.page-wrapper {
    background-color: var(--bg-secondary);
    color: var(--color-primary);
}

b, 
.pray-title {
    color: var(--border-content);
    font-family: 'RobotoBold', sans-serif;
}

div,
p,
li,
ul,
nav {
    box-sizing: border-box;
    font-family: 'RobotoRegular', sans-serif;
}

header,
footer {
    background-color: var(--bg-primary);
    color: var(--color-white);
}

header {
    border-bottom: 1px solid var(--color-link);
}

.fixed header {
    position: fixed;
    width: 100%;
}

button.theme {
    background-color: var(--bg-primary);
    height: 41px;
    margin-left: 40px;
    margin-right: 20px;
    max-width: 120px;
}

.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.header-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.link {
    cursor: pointer;
    padding: 10px 5px;
    border: 1px solid var(--color-link);
    border-radius: 10px;
    width: 100px;
    text-align: center;
    flex-grow: 1;
    color: var(--color-white);
    font-family: 'RobotoBold', sans-serif;
}


.link.active, 
.dark .theme {
    color: var(--color-link);
    background: var(--bg-link);
}

.header-title {
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-family: 'RobotoBold', sans-serif;
}

.link:hover {
    opacity: 0.5;
}

.fixed .prays-wrapper {
    margin-top: 160px;
}

.pray h1 {
    text-align: center;
}

h2.pray-title {
    border-bottom: 1px solid var(--border-content);
    padding-bottom: 5px;
    font-size: 18px;
}

.pray {
    display: none;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid var(--border-content);
    padding: 20px;
    border-radius: 30px;
}

.pray.active {
    display: block;
}

.marys-stella-block p {
    margin: 0;
}

.marys-stella-block {
    margin-bottom: 20px;
}

.footer-content p {
    text-align: center;
    font-family: 'RobotoBoldItalic', sans-serif;
    color: var(--color-white);
}

.book-wrapper p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.dark .book-wrapper p {
    color: var(--border-content);
}

.img-footer-wrapper {
    text-align: center;
    margin-top: 20px;
}

footer {
    border-top: 1px solid var(--color-link);
}

.img-footer {
    width: 100px;
}

.logo, 
.img-footer {
    background: linear-gradient(351deg, #ffeb00, #ffffff);
    border-radius: 50%;
    border: 5px solid #ffeb0029;
}

@media (max-width: 767px) {
    .header-content {
        flex-direction: column;
    }

    .nav-wrapper {
        max-width: 100%;
    }

    .links {
        padding: 0 5px;
        gap: 10px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .link {
        font-size: 12px;
    }

    .pray {
        text-align: left;
    }

    .footer-content p,
    .book-wrapper p {
        font-size: 12px;
    }
}
